.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  margin-top: 64px; // Toolbar height
  padding: 20px;
  flex: 1;
}

nav {
  a {
    margin-left: 8px;

    &.active {
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
