<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <span>Insurance Management System</span>
    <div class="spacer"></div>
    <div class="tab-wrapper">
      <button mat-flat-button color="primary" routerLink="/customers" >
        Customers
      </button>
      <button mat-flat-button color="primary" routerLink="/quotes">
        Quotes
      </button>
    </div>
  </mat-toolbar>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
